---
import Layout from "../layouts/layout.astro"
import Illustrations from "../components/illustrations.astro"
---

<Layout title="Illustrations">
	<main class="mx-8 mt-6 mb-14">
		<Illustrations />
	</main>
</Layout>
