<header class="p-4" x-data="{ open: false }" transition:persist>
  <nav class="container mx-auto flex flex-col items-center">
    <!-- Logo en haut à gauche -->
    <div class="w-full flex justify-start">
      <a href="index.html" class="flex items-center">
        <img src="djim.svg" alt="Logo" class="filter transition ease-in-out duration-300 dark:invert md:h-72 h-60 w-auto rounded-full translate-y-3 rotate-[-6deg] translate-x-5" />
      </a>
    </div>
    <!-- Bouton pour mobile -->
    <button @click="open = !open" class="md:hidden text-2xl mt-4">
      ☰
    </button>
    <!-- Menu centré -->
    <div
      :class="{ 'hidden': !open, 'block': open }"
      class="mt-4 md:mt-6 md:flex space-x-6 font-bold"
    >
      <ul class="flex flex-col md:flex-row gap-3 my-3">
        <li>
          <a href="3d.html" class="btn">
            3D
          </a>
        </li>
        <li>
          <a href="illu.html" class="btn">
            Illustration
          </a>
        </li>
        <li>
          <a href="mural.html" class="btn">
            Fresques Murales
          </a>
        </li>
        <li class="hidden">
          <a href="shop.html" class="btn">
            Shop
          </a>
        </li>
        <li>
          <a href="contact.html" class="btn">
            Contact
          </a>
        </li>
      </ul>
    </div>

    
  </nav>
</header>
